# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual environments
venv/
.venv/
robot_env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Dataset outputs (large files — do NOT commit)
dataset/
dataset_v3/
dataset_v4/
outputs/
checkpoints/
images
*.parquet
*.mp4


# Model weights (large files)
model/

# Autosave temp
.autosave/

# Logs
*.log
wandb/

# Jupyter
.ipynb_checkpoints/
